<a href="/start/{{ name }}" title="Start all" data-toggle="tooltip"><span class="glyphicon glyphicon-play text-success"></span></a>
<a href="/stop/{{ name }}" title="Restart all" data-toggle="tooltip"><span class="glyphicon glyphicon-refresh"></span></a>
<a href="/restart/{{ name }}" title="Stop all" data-toggle="tooltip"><span class="glyphicon glyphicon-stop text-danger"></span></a>
