<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Supervisor Monitor</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                {% if globalActions is defined and globalActions == true %}
                padding-top: 50px;
                {% else %}
                padding-top: 100px;
                {% endif %}
            }
        {% block style %}{% endblock %}            
        </style>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% if baseUrl is defined%}{{ baseUrl }}{% else %}#{% endif %}">Supervisor Monitor</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="http://supervisorphp.com">SupervisorPHP</a></li>
                        <li><a href="https://github.com/supervisorphp/monitor"><span class="fa fa-github"></span> Source</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if globalActions is defined and globalActions == true %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Global actions:&nbsp;
                <a href="start" title="Start" data-toggle="tooltip"><span class="glyphicon glyphicon-play text-success"></span></a>&nbsp;
                <a href="restart" title="Restart" data-toggle="tooltip"><span class="glyphicon glyphicon-refresh"></span></a>&nbsp;
                <a href="stop" title="Stop" data-toggle="tooltip"><span class="glyphicon glyphicon-stop text-danger"></span></a>&nbsp;
                <a href="clearAllProcessLogs" title="Clear logs" data-toggle="tooltip"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;
            </div>
        </div>
        {% endif %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        {% block script %}{% endblock %}
    </body>
{% if doNotClose is not defined or doNotClose == false %}
</html> 
{% endif %}
